body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent content from overflowing outside the container */
    position: relative; /* Add relative positioning for the overlay */
}

.left-panel, .right-panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: relative; /* Add relative positioning for the overlay */
}

.left-panel {
    background: linear-gradient(to right,#f4bdbd,#ab2ee5);
}

.right-panel {
    background: linear-gradient(to right,#f4bdbd,#ab2ee5);
    overflow: hidden; /* Hide any content that might overflow */
}

.overlay-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,#f4bdbd,#ab2ee5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out; /* Updated transition duration */
}

/* Slide left animation */
.slide-left {
    transform: translateX(0);
}

.toggle-button {
    cursor: pointer;
    color: blue;
}

/* Add transitions for smoother text changes */
#overlay-heading, #overlay-text {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.overlay-panel.slide-left #overlay-heading,
.overlay-panel.slide-left #overlay-text {
    opacity: 0;
    transform: translateY(-10px);
    transition-delay: 0.2s;
}

/* Style the buttons for both login and sign-up */
.overlay-left button {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #33FF57;
    color: #33FF57;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.overlay-left button:hover {
    background-color: #33FF57;
    color: white;
}

/* Hide the elements by default */
.hidden {
    display: none;
}
